In [6]:
import pandas as pd
import numpy as np

In [2]:
raw_data = pd.read_excel("raw_data.xlsx")

In [4]:
raw_data.describe()

,Card Name,Bank Name,URL,Card Type,Interest Rate(%),Cash Withdrawal Limit Per transaction,Cash withdrawal Limit Per day,Credit Limit(Max),International Transaction Available,Balance Transfer Available,...,reward luxary resort/hotel,reward insurance plan,reward travel benefits,reward fine dining,reward buffet discount,reward medical discount,reward_shopping,reward airlines ticket,reward point program,EMI available
count,130,130,130,129,126,128,128,115,127,124,...,126,126,126,125,126,126,126,126,126,125
unique,130,27,112,11,8,8,12,23,4,2,...,2,2,2,2,2,2,2,3,2,2
top,Dutch Bangla VISA Gold International Credit Card,Mutual Trust bank Limited,http://www.mutualtrustbank.com/cards/debit-card/,Credit,N/G,N/G,N/G,N/G,T,F,...,F,F,F,F,F,F,F,F,F,F
freq,1,15,6,71,89,104,105,48,63,89,...,102,109,93,85,109,114,68,105,107,116

In [23]:
raw_data.isnull().sum()

Card Name                                 0
Bank Name                                 0
URL                                       0
Card Type                                 1
Interest Rate(%)                          4
Cash Withdrawal Limit Per transaction     2
Cash withdrawal Limit Per day             2
Credit Limit(Max)                        15
International Transaction Available       0
Balance Transfer Available                0
Dual currency                             0
reward_supplementary_card                 0
reward_airport_lounge                     0
reward_cashback_available                 0
reward luxary resort/hotel                0
reward insurance plan                     0
reward travel benefits                    0
reward fine dining                        0
reward buffet discount                    0
reward medical discount                   0
reward_shopping                           0
reward airlines ticket                    0
reward point program                      0
EMI available                             0
dtype: int64

# Boolean Features

In [15]:
bool_features = list(raw_data.columns[8:])

In [19]:
raw_data[bool_features] = raw_data[bool_features].fillna('F')

# Interest Rate

In [29]:
raw_data['Interest Rate(%)'] = raw_data['Interest Rate(%)'].replace('N/G',np.nan)

# Cash Withdrawal Features

In [34]:
raw_data['Cash Withdrawal Limit Per transaction'] = raw_data['Cash Withdrawal Limit Per transaction'].replace('N/G',np.nan)

In [37]:
raw_data['Cash withdrawal Limit Per day'].replace('N/G',np.nan,inplace=True)

In [42]:
raw_data['Cash withdrawal Limit Per day'].replace('BND 5,000',np.nan,inplace=True)

In [45]:
raw_data['Cash withdrawal Limit Per day'].replace('BND 3,000',np.nan,inplace=True)

In [48]:
raw_data['Cash withdrawal Limit Per day'].value_counts()

50000          10
300000          2
500000          2
0.5             2
100000          1
1,00,000.00     1
20000           1
250000          1
30000           1
Name: Cash withdrawal Limit Per day, dtype: int64

In [47]:
raw_data.to_csv("clean_data.csv",index=False)